// Colors
$dark-grey: #040C0E;
$grey:#525B56;
$blue: #3d88b4;
$beige: #BE9063;
$dark-blue: #132226;
$off-white: #f7f7f7;
// font-size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
